* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

@seaGreen: #1DD83C;
@seaBlue: #00163F;
@seaGray: #A5A7AF;
@black: #222222;
@head: Oswald, @df-sans;

.everything {
  margin: auto;
  max-width: 800px;
}

.source {
  font-size: 12px;
}

main.interactive {
  font-family: @df-sans;
  font-size: 14px;
  padding-bottom: 50px;

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}

img.header {
  width: 100%;
  display: block;
}

h1 {
  font-family: @head;
}

.ad {
  text-align: center;
  margin: auto;
}

.readout {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: @df-light-gray;
  border-top: 4px solid @df-dark-gray;
  font-size: 24px;
  padding: 8px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, .3);
  z-index: 9999;

  @media @mobile {
    font-size: 17px;
  }

  .segment {
    display: inline-block;
    margin-right: 20px;

    &.text {
      font-weight: bold;
    }

    &.share {
      float: right;
      margin-bottom: 20px;

      @media @mobile {
        margin: 10px 0;
      }

      label {
        background: white !important;
        border: 1px solid @df-middle-gray !important;
      }
    }
  }

  .excessive {
    color: @st-dark-red;
  }
}

section.groups {
}

.position-group {
  padding: 8px;
  border-top: 1px solid @df-light-gray;
  display: block;
  clear: both;

  h2 {
    margin: 0;
  }
  
  .players {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.player {
  margin: 4px 0;
  background: @df-light-gray;
  // border: 1px solid @df-middle-gray;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  float: left;
  width: 240px;
  margin-right: 4px;
  font-family: @head;
  .display-flex;
  .justify-content(space-around);
  
  &.inactive {
    background: @df-middle-gray;
    color: @df-off-white;

    .icons {
      .unchecked { display: none }
      .checked { display: inline-block }
    }
  }

  .icons {
    .flex(0 0 20px);

    .unchecked { display: inline-block }
    .checked { display: none }
  }

  &.selected {
    background: @seaBlue;
    color: @seaGreen;

    .icons {
      .unchecked { display: none }
      .checked { display: inline-block }
    }

    .name {
      font-weight: bold;
    }

    &.inactive {
      background: @df-middle-gray;
      color: @df-off-white;

      .name {
        font-weight: normal;
      }
    }
  }

  .popup {
    display: none;
    position: absolute;
    bottom: calc(~"100% + 12px");
    left: 0;
    z-index: 9999;
    background: white;
    color: @seaBlue;
    padding: 8px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, .2);
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: @seaBlue;
    width: 100%;
    font-family: @df-sans;
    font-size: 14px;

    &::after {
      position: absolute;
      top: 100%;
      left: 20%;
      border-width: 10px 10px 0 10px;
      border-style: solid;
      border-color: @seaBlue transparent transparent transparent;
      height: 0px;
      width: 0px;
      content: " ";
    }

    .card {

    }

    h1 {
      margin: 0;
      font-size: 20px;
      font-family: @head;
    }

    img {
      width: 50%;
      float: left;
      margin-right: 4px;
    }

    .stats {
      clear: both;
      ul {
        padding: 0;
        margin: 0;
        list-style: inside circle;
      }
    }
  }

  &:hover {
    .popup {
      display: block;
    }
  }

  .name {
    .flex(1);
  }
}