<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700">
    <%= t.include("partials/_adHead.html") %>
    <style>[ng-cloak] { display: none }</style>
  </head>
  <body ng-app="be-the-gm">

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <%= t.include("partials/_dfHeader.html") %>

    <div class="everything">

      <img src="./assets/header.jpg" class="header">

      <p>
        On Sept. 5, the Seahawks will announce their final roster of 53 players. Who would you pick? Use our interactive below to choose your team &mdash; but be careful of the salary cap! This season, thanks to rollover money from previous years, the Seahawks have a maximum salary of $148.26 million, more than the NFL average of $143.28 million. But you're already out $11.51 million, due to what is known as dead money: outstanding commitments to old contracts such as Percy Harvin's.
      </p>
      <p>
        To get you started, we've gone ahead and selected positions where only one player is available. One catch: Players who are currently injured are grayed-out and cannot be removed from the team. But they don't count toward your 53-player maximum. And Kam Chancellor ... even though he's currently holding out, you can select him anyway.
      </p>
      <p>
        Once you've completed your roster, use the 'share' button to compare your ultimate Seahawks team with your friends' own squads.
      </p>

      <p class="source">Source: OverTheCap.com

      <main class="interactive" ng-controller="roster" ng-cloak>
        <section class="readout">
          <div class="text segment">
            Total:
          </div>
          <div class="count segment" ng-class="{ excessive: selectedCount > maximumCount} ">
            <strong>{{selectedCount}}</strong> players (max: {{maximumCount}})
          </div>
          <div class="cap segment" ng-class="{ excessive: selectedCost > maximumCost }">
            <strong>${{selectedCost | number}}</strong> (max: ${{maximumCost | number}})
          </div>
          <a class="share segment"></a>
        </section>
        <section class="groups">
          <div class="position-group" ng-repeat="position in positions" ng-class="{ large: position.players.length > 5 }">

            <h2>{{position.label}}</h2>

            <ul class="players">
              <li
                class="player"
                ng-repeat="player in position.players"
                ng-click="togglePlayer(player)"
                ng-class="{
                  selected: player.selected,
                  inactive: player.status !== 'Active' && player.status !== 'Reserve/Did Not Report'
                }"
              >
                <div class="icons">
                  <i class="fa fa-square unchecked"></i>
                  <i class="fa fa-check-square checked"></i>
                </div>
                <div class="name">#{{player.no}} - {{player.last}} {{player.extra}}</div>
                <div class="cap">${{player.cap | number}}</div>

                <div class="popup">
                  <div class="card">
                    <img ng-src="./assets/mugs/{{player.image}}">
                    <h1>#{{player.no}}<br>{{player.first}} {{player.last}} {{player.extra}}</h1>
                  </div>
                  <div class="stats">
                    <ul class="block">
                      <li> Born: {{player.birthdate}}
                      <li> {{player.feet}}-foot-{{player.inches}}, {{player.weight}} lbs
                      <li> Experience: {{player.exp ? player.exp + " seasons" : "Rookie"}}
                      <li> Attended {{player.college}}
                      <li ng-if="player.status != 'Active'"> Status: {{player.status}}
                    </ul>
                  </div>
                </div>

              </li>
            </ul>

          </div>
        </section>
        
        <section class="bottom">
          <div class="links">
            <div class="links-header">More on Seahawks in The Seattle Times</div>

            <a href="http://www.seattletimes.com/sports/seahawks">Seahawks news</a> | <a href="http://www.seattletimes.com/author/bob-condotta">Bob Condotta</a> | <a href="http://www.seattletimes.com/author/jayson-jenks">Jayson Jenks</a> | 
            <a href="http://www.seattletimes.com/sports">Seattle Times Sports</a>
          </div>

          <div class="copyright">Copyright 2015 The Seattle Times</div>
        </section>

      </main>

    </div>

    <script>
      window.rosterData = <%= JSON.stringify(json.SeahawksRoster_roster) %>;
    </script>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
