<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700">
    <%= t.include("partials/_adHead.html") %>
    <style>[ng-cloak] { display: none }</style>
  </head>
  <body ng-app="be-the-gm">
  
    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <%= t.include("partials/_dfHeader.html") %>

    <div class="everything">

      <img src="./assets/header.jpg" class="header">

      <p>
        On Sept. 5th, the Seahawks will announce their final roster of 53 players. Who would you pick? Use our interactive below to choose your team &mdash; but be careful of the salary cap! We've gone ahead and selected positions where only one player is available to get you started.

      <main class="interactive" ng-controller="roster" ng-cloak>
        <section class="readout">
          <div class="text segment">
            Total:
          </div>
          <div class="count segment" ng-class="{ excessive: selectedCount > maximumCount} ">
            {{selectedCount}} players (max: {{maximumCount}})
          </div>
          <div class="cap segment" ng-class="{ excessive: selectedCost > maximumCost }">
            ${{selectedCost | number}} (max: ${{maximumCost | number}})
          </div>
          <a class="share segment"></a>
        </section>
        <section class="groups">
          <div class="position-group" ng-repeat="position in positions" ng-class="{ large: position.players.length > 5 }">
            
            <h2>{{position.label}}</h2>
            
            <ul class="players">
              <li
                class="player"
                ng-repeat="player in position.players"
                ng-click="togglePlayer(player)"
                ng-class="{ 
                  selected: player.selected,
                  inactive: player.status !== 'Active'
                }"
              >
                <div class="icons">
                  <i class="fa fa-square unchecked"></i>
                  <i class="fa fa-check-square checked"></i>
                </div>
                <div class="name">#{{player.no}} - {{player.last}}</div>
                <div class="cap">${{player.cap | number}}</div>

                <div class="popup">
                  <div class="card">
                    <img ng-src="./assets/mugs/{{player.image}}">
                    <h1>#{{player.no}}<br>{{player.first}} {{player.last}}</h1>
                  </div>
                  <div class="stats">
                    <ul class="block">
                      <li> Born: {{player.birthdate}}
                      <li> {{player.feet}}-foot-{{player.inches}}, {{player.weight}} lbs
                      <li> Experience: {{player.exp ? player.exp + " seasons" : "Rookie"}}
                      <li> Attended {{player.college}}
                      <li ng-if="player.status != 'Active'"> Status: {{player.status}}
                    </ul>
                  </div>
                </div>

              </li>
            </ul>

          </div>
        </section>
      </main>

    </div>

    <script>
window.rosterData = <%= JSON.stringify(json.SeahawksRoster_roster) %>;
    </script>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
